extends /layouts/resume/print.pug

block head
  -var meta = resume.meta
  -var title = resume.title||'Resume'
  if meta
    each m in meta
      meta(name=m, content=meta[m])
  title!=title

block body
  include /components/resume/parts/print-nav.pug
  - var sections = resume.sections||[]
  .paper-area
    .printable-area
      if sections.about
        -var my = sections.about.me
        .d-flex.flex-row
          .p-2
            h1.name!=my.displayName
          .p-10.align-self-end
            h4.address
              - var parts = [];
              if my.addressLines && my.addressLines.length
                - my.addressLines.map((addressLine) => parts.push(addressLine))
              if my.phoneNumber
                - parts.push(my.phoneNumber)
              if my.emailAddress
                - parts.push(my.emailAddress)
              if my.url
                - parts.push(my.url)
              if parts.length > 0
                !=parts.join(' 路 ')
        if my.objective
          .d-flex.d-flex-row
            .p-2.align-self-stretch
              h1.heading Objective
            .p-2.align-self-stretch
              p!=my.objective
      if sections.experience
        .d-flex.d-flex-row
          .p-2
            h1.heading!=sections.experience.title
        if sections.experience.history && sections.experience.history.length
          each experience in sections.experience.history
            if experience.featured
              .d-flex.d-flex-row
                .p-2.mr-auto
                  h2!=experience.title
                  - var parts = []
                  if experience.project
                    - parts.push(experience.project)
                  if experience.company
                    - parts.push(experience.company)
                  if experience.location
                    - parts.push(experience.location)
                  if parts.length > 0
                    h3!=parts.join(' 路 ')
                if experience.dates
                  .p-2.text-right
                    h4!=experience.dates
      if sections.education
        .d-flex.d-flex-row
          .p-2
            h1!=sections.education.title
        each qualification in sections.education.qualifications
          .d-flex.d-flex-row
            .p-2.mr-auto
              h2!=qualification.degree
              - var parts = []
              if qualification.majors
                - var majors = qualification.majors.slice()
                if (majors.length > 2)
                  - majors.splice(majors.length-1, 0, '&amp;')
                  - var major = majors.join(', ').replace('&amp;,', '&amp;')
                  - parts.push(major)
                else if (majors.length == 2)
                  - var major = majors.join(' &amp; ');
                  - parts.push(major)
                else if (majors.length == 1)
                  - parts.push(majors[0])
              else if qualification.major
                - parts.push(qualification.major)
              if qualification.school
                - parts.push(qualification.school)
              if qualification.location
                - parts.push(qualification.location)
              if qualification.gpa
                - parts.push(qualification.gpa + ' GPA')
              if parts.length > 0
                h3!=parts.join(' 路 ')
            if qualification.dates
              .p-2.text-right
                h4!=qualification.dates
      if sections.affiliations
        .d-flex.d-flex-row
          .p-2
            h1!=sections.affiliations.title
        each membership in resume.sections.affiliations.memberships
          .d-flex.d-flex-row
            .p-2.mr-auto
              - var parts = []
              if membership.membership
                - parts.push(membership.membership)
              if membership.organization
                - parts.push(membership.organization)
              if membership.location
                - parts.push(membership.location)
              h3!=parts.join(' 路 ')
            if membership.dates
              .p-2.text-right
                h4!=membership.dates
      if sections.awards
        .d-flex.d-flex-row
          .p-2
            h1!=sections.awards.title
        each award in resume.sections.awards.awards
          .d-flex.d-flex-row
            .p-2.mr-auto
              h2
                !=award.award
              h3
                !=award.issuer
                if (award.location)
                  | 
                  | &bullet;
                  | 
                  !=award.location
            if award.dates
              .p-2.text-right
                h4!=award.dates
      //if sections.skills
        .d-flex.d-flex-box
          .p-2
            h1!=sections.skills.title
