.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
  .container
    if blog.nav.menu
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        a.navbar-brand(href='/')!=blog.nav.logo
        ul.navbar-nav
          each item in blog.nav.menu
            if item.menu && item.menu.length && item.id
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', id=item.id)!=item.title
                span.caret
              .dropdown-menu(aria-labelledby=item.id)
                each subItem in item.menu
                  if subItem.title == '-'
                    .dropdown-divider
                  else
                    a.dropdown-item(href=subItem.url)!=subItem.title
            else
              li.nav-item
                a.nav-link(href=item.url)!=item.title
