extends /layouts/exit/theme.pug

block head
  - var meta = links.meta;
  - var title = links.title;
  - var link = { url: '/', title: 'Resume' };
  if meta
    each m in meta
      meta(name=m, content=meta[m])
  meta(http-equiv="refresh", content="3;"+link.url)
  title!=link.title + " - " + site.title

block body
  - var title = links.title;
  - var link = links.links.resume;
  h2!=title
  p
    | This page has moved. Click 
    | 
    a(href=link.url, title=link.title) here
    | 
    | to go to the new page.
  p
    | New URL:
    =link.url
