extends /layouts/resume/theme.pug

block head
  -var meta = resume.meta
  -var title = resume.title||'Resume'
  if meta
    each m in meta
      meta(name=m, content=meta[m])
  title!=title

block body
  -var nav = resume.nav
  -var sections = resume.sections||[]
  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top(role="navigation", data-spy="affix", data-offset-top="100")
    a.navbar-brand.js-scroll-trigger(href='#page-top')
      span.d-block.d-lg-none.responsive-logo=nav.logo
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src=nav.profilePic, alt='')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        each section, id in sections
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#'+id)=section.name
  .container-fluid.p-0
    if sections
      each section, id in sections
        !=section.template(locals)
